		</section>
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://twitter.com/KadenceArts/" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="https://www.facebook.com/EnsembleEvolution/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="https://www.instagram.com/kadencearts/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Ensemble Evolution 2017. All rights reserved.</li>
				</ul>
			</footer>
	<!-- Slider -->
	<script src="{{ site.baseurl }}/assets/js/ideal-image-slider.js"></script>
	<script src="{{ site.baseurl }}/assets/js/iis-captions.js"></script>
	<!-- Sliders on pages -->
	{% for script in page.slider_scripts %}
	  {{ script }}
	{% endfor %}
	<!-- Sliders on indexes -->
	{% for post in paginator.posts %}
  		{% for script in post.slider_scripts %}
    		{{ script }}
  		{% endfor %}
	{% endfor %}
	</body>
</html>