<!-- Header -->
	<header id="header" class="alt">
		<h1><a href="{{ site.baseurl }}/index.html">Ensemble Evolution</a></h1>
		<nav id="nav">
			<ul>
				<li><a href="{{ site.baseurl }}/">Home</a></li>
				<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
				<li><a href="https://ensembleevolution.bandcamp.com">Music</a></li>
				<li><a href="{{ site.baseurl }}/about">About</a></li>
				<li><a href="{{ site.baseurl }}/treetops">Treetops</a></li>
				<li><a href="{{ site.baseurl }}/PPRF">PPRF</a></li>
				<li><a href="{{ site.baseurl }}/education">Education</a></li>
			</ul>
		</nav>
	</header>
